extends template.jade

block content

    header#header-landing
        .header-content
            .header-content-inner
                h1 Emma Beaton
                hr
                a(href="/dev" class="btn btn-primary btn-xl page-scroll devbtn") Developer
                a(href="/music" class="btn btn-primary btn-xl page-scroll") Musician
