extends template.jade

block content
    nav(id="mainNav" class="navbar navbar-default navbar-fixed-top")
        .container-fluid
            //- Brand and toggle get grouped for better mobile display -->
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(href="index.html")Emma Beaton

            //- Collect the nav links, forms, and other content for toggling -->
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.navbar-right
                    li
                        a.page-scroll(href="#about")About
                    li
                        a.page-scroll(href="#music")Music
                    li
                        a.page-scroll(href="#video")Video
                    li
                        a.page-scroll(href="#contact")Contact
            //- /.navbar-collapse -->
        //- /.container-fluid -->


    header#header-music
        #shake-container.shake-trigger
            img.shake-opacity.shake-constant(src="img/lightning/lng2.png" id="l1")
            img.shake-opacity.shake-constant(src="img/lightning/lng3.png" id="l2")
            img.shake-opacity.shake-constant(src="img/lightning/lng4.png" id="l3")
            img.shake-opacity.shake-constant(src="img/lightning/lng5.png" id="l4")
        .header-content
            .header-content-inner
                h1 Emma Beaton
                hr
                a(href="#about" class="btn btn-primary btn-xl page-scroll") About

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Emma</h2>
                    <hr class="light">
                    <p class="text-quotes"><br><i>“She is one of those rare musicians who possesses a natural gift on her instrument combined with a deep understanding of the roots of the music she is playing.”</i></p><p class="text-quotes"><i> - Mike Marshall</i></p>

                    <p class="text-quotes"><i>“She is a truly gifted musician in many genres and on many instruments. She is one of the most exciting young cellists in the folk music world today, taking the cello into unprecedented territory in the Celtic, Cajun, southern Appalachian old-time, and Scandinavian genres. As a vocalist, her clear, powerful voice is truly captivating...”</i></p><p class="text-quotes" id="last-line"<i> - Natalie Haas</i></p>
                    <!-- <hr class="light"> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary" id="bio">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-small">      It is no wonder that someone from the very edge of the North American continent would possess a voice as naturally captivating as the verdant Pacific Northwest. Emma Beaton, young cellist, singer and banjo-player from Qualicum Beach, British Columbia has what bluegrass super-star Laurie Lewis called, a "voice like a laser," clear, effortless, and striking to the core.</p>

                    <p class="text-small">      The child of two Scottish emigrants, Beaton is no stranger to the traditional music realm. She learned to play the cello amongst seas of fiddlers under Alasdair Fraser's San Francisco Scottish fiddlers and at music camps around the US. This forced her to develop her own style of folk cello, adapting dance tunes for the instrument and conjuring up her own rhythmic accompaniment style to suit the fiddle repertoire. It was through this exposure to traditional music that Beaton learned to play clawhammer banjo, and learned her potential as a unique and talented vocalist.</p>

                    <p class="text-small">      She has studied with notable innovative cellists, under Natalie Haas at the Berklee College of Music as well as with Rushad Eggleston, of Crooked Still. She has appeared on Scottish National Television, PBS, and countless times on NPR, including A Prairie Home Companion and Mountain Stage. Her music has taken her all over the world, throughout the entirety of North America, across Europe, and as far as New Zealand. Beaton has performed at some of the most acclaimed folk festivals in the world, such as Glasgow's Celtic Connections, Telluride Bluegrass Festival, Hardly Strictly Bluegrass Festival, Winnipeg Folk Festival, and Vancouver Folk Festival, among many more.</p>

                    <p class="text-small">      At the age of eighteen, Beaton won the Canadian Folk Music Award's Young Performer of the Year after the release of her debut recording, "Pretty Fair Maid." She was again nominated for a Canadian Folk Music Award, for "Traditional Vocalist of the Year" with her duo partner, Nic Gareiss, after the release of their first album together. After moving to Boston to study cello on scholarship at Berklee, Beaton relocated to New York City for 2 years, and now resides in Nashville, TN, where she works as a software developer.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="music">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Music</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-lg-offset-2 text-center">
                    <div class="service-box">
                        <a href="https://itunes.apple.com/us/album/wide-awake/id648096936">
                            <img src="img/music/wide-awake.jpg">
                        </a>
                        <a href="https://itunes.apple.com/us/album/wide-awake/id648096936">
                            <h3>Wide Awake</h3>
                            <p class="text-muted">Joy Kills Sorrow, 2013</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a href="https://itunes.apple.com/us/album/this-unknown-science/id455405321">
                            <img src="img/music/this-unknown.jpg">
                        </a>
                        <a href="https://itunes.apple.com/us/album/this-unknown-science/id455405321">
                            <h3>This Unknown Science</h3>
                            <p class="text-muted">Joy Kills Sorrow, 2011</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-lg-offset-2 text-center">
                    <div class="service-box">
                        <a href="https://itunes.apple.com/us/album/darkness-sure-becomes-this/id354062814">
                            <img src="img/music/darkness.jpg">
                        </a>
                        <a href="https://itunes.apple.com/us/album/darkness-sure-becomes-this/id354062814">
                            <h3>Darkness Sure<br>Becomes This City</h3>
                            <p class="text-muted">Joy Kills Sorrow, 2010</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a href="https://itunes.apple.com/us/album/emma-beaton-and-nic-gareiss/id367673461">
                            <img src="img/music/eb-nic.jpg">
                        </a>
                        <a href="https://itunes.apple.com/us/album/emma-beaton-and-nic-gareiss/id367673461">
                            <h3>Emma Beaton<br>& Nic Gareiss</h3>
                            <p class="text-muted">Emma Beaton & Nic Gareiss, 2010</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark" id="video">
        <div class="container text-center">
            <div class="call-to-action">
            </div>
        </div>
    </aside>
    <section class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter bg-dark">
                <div class="col-lg-3 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZimjmYp_I3s?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1qGt_xR5W-Y?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VvnVYOVkrOU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DvaJU7iSz5c?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">

            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Connect with Emma</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-1 col-lg-offset-4 text-center">
                    <a href="https://www.facebook.com/emmajeanbeaton/"></a><i class="fa fa-facebook fa-3x wow bounceIn"></i></a>
                </div>
                <div class="col-lg-1 text-center">
                    <a href="https://twitter.com/iambeato"></a><i class="fa fa-twitter fa-3x wow bounceIn"></i></a>
                </div>
                <div class="col-lg-1 text-center">
                    <a href="https://www.linkedin.com/in/emma-beaton-0822209a"></a><i class="fa fa-linkedin-square fa-3x wow bounceIn"></i></a>
                </div>
                <div class="col-lg-1 text-center">
                    <a href="mailto:emma.beaton@gmail.com"><i class="fa fa-envelope-o fa-3x wow bounceIn"></i></a>
                </div>
            </div>
        </div>
    </section>


